# Dependencies
node_modules/

# Log files
logs/
*.log

# Environment variables
.env

# MacOS files
.DS_Store

# Visual Studio Code files
.vscode/

# Build output
dist/

# Temporary files
tmp/
temp/

patches

.vs/

eslint.config.mjs